S3method(format,sky_coord)
S3method(format,sky_frame)
S3method(print,sky_coord)
S3method(print,sky_frame)
S3method(separation,sky_coord)
S3method(vec_ptype_abbr,sky_coord)
S3method(vec_ptype_full,sky_coord)
useDynLib(astrocoords, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(vctrs, vec_ptype_abbr)
importFrom(vctrs, vec_ptype_full)
exportPattern("^[[:alpha:]]+")
